{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <div class="text-center">
            <h1>Exo Symfony</h1>
            <p>
                Website qui permet de rechercher n'importe quel joueur de NBA depuis 1979 <br>
                et qui permet de comparer ceux sélectionnés
            </p>
            <hr class="w-50 m-auto">
            <br>
            <p>
                Code du site : <a href="https://github.com/EdouardQ/exo-symfony-app" target="_blank">https://github.com/EdouardQ/exo-symfony-app</a>
            </p>
        </div>
    </section>
{% endblock %}