{% extends 'base.html.twig' %}

{% block body %}
    <section>
        <table class="display w-100">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>Nom</th>
                    <th>Équipe</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% for player in data %}
                <tr>
                    <td>{{ player.first_name }}</td>
                    <td>{{ player.last_name }}</td>
                    <td>{{ player.team.name }}</td>
                    <td class="td-add-player"><a href="{{ url('search.add', { id: player.id, name: player.first_name ~ ' ' ~ player.last_name }) }}">Ajouter à la comparaison</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $('table.display').DataTable();
    });
</script>
{% endblock %}